<app-form-panel (cercaEvent)="passaPaginaCerca($event)" (contaEvent)="passaPaginaConta($event)" (aggEvent)="aggiungi($event)"></app-form-panel>
<br>
<table *ngIf="mod.lista.length > 0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Azioni</th>
    </tr>
    <tr *ngFor="let p of mod.lista; index as i">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
        <td><button (click)="elimina(i)">Elimina</button></td>
    </tr>
</table>
