<input type="text" [(ngModel)]="criterioRicerca">
<button (click)="cerca()">Cerca</button>
<button (click)="indietro()">Indietro</button>
<br>
<br>
<table *ngIf="visList && mod.lista.length > 0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Azioni</th>
    </tr>
    <tr *ngFor="let p of mod.lista; index as i">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
        <td><button (click)="elimina(i)">Elimina</button></td>
    </tr>
</table>

<h3 *ngIf="visMessaggioErrore">{{messaggioErrore}}</h3>

<table *ngIf="visListFiltrata && listaFiltrata.length > 0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Azioni</th>
    </tr>
    <tr *ngFor="let l of listaFiltrata; index as i">
        <td>{{l.codice}}</td>
        <td>{{l.descrizione}}</td>
        <td>{{l.prezzo}}</td>
        <td><button (click)="eliminaDopoFilter(l)">Elimina</button></td>
    </tr>
</table>