<input type="text" [(ngModel)]="criterioRicerca">
<button (click)="cerca()">Cerca</button>
<button (click)="indietro()">Indietro</button>
<br>
<br>
<table>
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Azioni</th>
    </tr>
    <tr *ngFor="let p of mod.lista; index as i">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
        <td><button (click)="elimina(i)">Elimina</button></td>
    </tr>
</table>
